@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <span class="nav navbar-nav navbar-right">
            <span class="my-auto text-white">
                @User.Identity.GetUserName()
            </span>
            <span class="ml-3">
                <input type="button" class="btn btn-warning" onclick="javascript:document.getElementById('logoutForm').submit()" value="Выйти" />
            </span>
        </span>
    }
}

