################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FinalTask/.vs
/FinalTask/Hospital.BusinessLogic/bin
/FinalTask/Hospital.BusinessLogic/obj
/FinalTask/Hospital.DAL/bin
/FinalTask/Hospital.DAL/obj
/FinalTask/Hospital.Web/bin
/FinalTask/Hospital.Web/CertificateFromTheHospital
/FinalTask/Hospital.Web/obj
/FinalTask/Hospital.WEB.Tests/bin
/FinalTask/Models/bin
/FinalTask/Models/obj
/FinalTask/Hospital.WEB.Tests/obj
/FinalTask/packages
