@using Hospital.BusinessLogic.ViewModels

@model  IEnumerable<DoctorViewModel>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Опыт работы</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var docter in Model)
    {
        <tbody>
            <tr>
                <td scope="row">@docter.Name</td>
                <td scope="row">@docter.Surname</td>
                <td scope="row">@docter.Expirience</td>
                <td>
                    <input type="button" class="btn btn-primary" id="@docter.Id" onclick="assignDoctor(this)" value="Назначить" />
                </td>
            </tr>

        </tbody>
    }
</table>
