@model Hospital.BusinessLogic.ViewModels.PatientViewModel
@using Hospital.BusinessLogic.Models.ViewEnums

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Patients";

}


<div id="divSearchPatients">
    @{ Html.RenderAction("ShowPatients"); }
</div>
